# Backend .env configuration
# --- Blockchain ---
RPC_URL="http://127.0.0.1:7545"
CONTRACT_ADDRESS="YOUR_CONTRACT_ADDRESS"
OWNER_PRIVATE_KEY="YOUR_PRIVATE KEY" # Needed to sign admin transactions

# --- IPFS ---
IPFS_API_URL="http://127.0.0.1:5001"

# --- Server ---
PORT=3001

